* {
  margin: 0;
  padding: 0;
}

.card {
  width: 400px;
  height: 200px;
  background-image: url(./imgs/backgorund.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 3px;
  display: flex;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  margin-top: 40vh;
  padding-left: 80px;
}

h1 {
  font-family: cursive;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
}

li {
  font-family: cursive;
  padding-left: 5px;
  margin-left: 20px;
}

.inst {
  padding-bottom: 3px;
  list-style-type: none;
  color: black;
  font-size: 17px;
  list-style-image: url(./imgs/Insta.png);
}

.you {
  padding-bottom: 3px;
  list-style-type: none;
  color: black;
  font-size: 17px;
  list-style-image: url(./imgs/Youtube.png);
}

.twi {
  padding-bottom: 3px;
  list-style-type: none;
  color: black;
  font-size: 17px;
  list-style-image: url(./imgs/Twitter.png);
}

a {
  text-decoration: none;
}

li:hover {
  color: rgb(29, 29, 184);
}

li:active {
  color: red;
}
